<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="icon" href="../static/src/img/logo.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://apis.google.com/js/api.js"></script>

  <link rel="stylesheet" href="../static/src/css/main.css" />
</head>

<body>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/dashboard/gest_perm"><button>Gestione Permessi</button></a>
    <a href="/logout"><button>Logout</button></a>
  </div>

  <br>
  <div id='chart' class="chart"></div>
  <br>
  <input type="text" id="accessInput" onkeyup="lookNames()" placeholder="Search for names.." title="Type in a name">
  {{ listaFoto |safe}}

</body>

<script>
  function lookNames() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("accessInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("accessTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

</script>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{ graphJSON | safe}};
  Plotly.plot('chart', graphs, {});
</script>

<script src="../static/src/js/sidebarSidenav.js"></script>

</html>