<!DOCTYPE HTML>

<html>
  <head>
    <title>DoorBell</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="icon" href="../static/src/img/logo.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="static/src/js/OpenCamera.js"></script>
    <link rel="stylesheet" href="../static/src/css/main.css" />
  </head>

  <body class="is-preload">
    <div id="wrapper">
      <!-- Header -->
      <img id="logo" src="../static/src/img/logo.png" />

      <div class="content-img">
        <img id="camera" class="video-content" />
        <video id="videoElement" class="video-content" autoplay muted></video>

        <img id="cornice" src="../static/src/img/cornice.jpg" />
        <button type="button" id="startcamera" onclick="startCamera()">Usa Camera</button>
      </div>
      <br />
      <br />
      <div class="container">
        <div id="result">
          <p>Result</p>
        </div>
      </div>
      <br />
      <div style="text-align: center;">
        <span onclick="capture()"><img src="../static/src/img/doorbellButton.png" style="width: 25%;height: auto; background: none;" alt="" /></span>
      </div>

      <a href="/dashboard"><button type="button">Admin dashboard</button></a>
    </div>
  </body>

</html>
