<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="static/src/css/index.css" type="text/css">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="static/src/js/OpenCamera.js"></script>
    <title>{{ data }}Door Bell</title>
</head>
<body>
<!--
<a href="geolocation.html">geolocation</a><br>
<a href="test.html">test function</a><br>
-->
<div class="topnav ">
    <p>Intro</p>
</div>

<div class="content-img">
    <img id="img">
</div>

<div class="content-button">
    <button type="button" onclick="openCamera()">DRIIIIIN</button>
</div>

<div class="content-button">
    <a href="/dashboard">
        <button type="button">admin dashboard</button>
    </a>
</div>

<div id="result" class="result" onclick="result()">
    <p>Result</p>
</div>

</body>
</html>

<script>
    function result() {
        document.getElementById("result").style.display = "block"
    }
</script>